.match-making-wrap {
	display: flex;
	justify-content: center;
	width: calc(100% - 2.5rem);
	margin: $gutter;

}

.match-making {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 0 10px #888888;
	max-width: 600px;
	width: 100%;
	border-radius: 5px;
	padding: $gutter;
	position: relative;

	&:after {
		position: absolute;
		content: '';
		height: 15px;
		width: 100%;
		background-color: $color-primary;
		bottom: 0;
		left: 0;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
}


.slider-input-block {
	@include mdc-slider-color-accessible($color-primary);
	width: 100%;
}

.slider-input-block h2 {
	margin-top: 30px;
}

.slider-input-block .value {
	color: $color-primary;
}

.slider-input-block-container {
	display: flex;
	flex-flow: row;
	margin-top: 25px;
	width: 100%;
	justify-content: space-between;
}

.mdc-form-field > label {
	margin-bottom: 0;
}

.submit-button-wrap {
	margin: $gutter 0;
	width: 100%
}

.submit-button-wrap a {
	width: 100%
}

.radio-wrap {
	display: flex;
	flex-flow: row;
	align-items: center;
}

.radio-wrap label {
	margin: 0;
}

.radio-input {
	display: flex;
	flex-flow: row;
}

.checkbox-wrap {
	display: flex;
}

.checkbox-wrap label {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.slider-input-block__max-val,
.slider-input-block__min-val {
	font-size: 12px;
}

@media screen and (max-width: 720px) {

	.checkbox-wrap label,
	.radio-wrap label {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0;
	}

	.checkbox-wrap {
		flex-flow: row;
		display: flex;
	}

	.radio-wrap {
		flex-flow: column;
		align-items: flex-start;
		justify-content: center;
	}

	.mdc-form-field {
		flex-direction: column;
		display: flex;
		align-items: flex-start;
	}
}