.match-making-widget-wrap {
	display: flex;
	justify-content: center;
	width: calc(100% - 2.5rem);
	margin: $gutter;
}

.match-making-widget {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 0 10px #888888;
	max-width: 600px;
	width: 100%;
	border-radius: 5px;
	padding: $gutter;
}
